body {
  font-family: monospace; 
}

div #main {
  max-width: 72ch;
  margin: 3rem auto;
}

header {
  text-align: right;
}

header h1 {
  text-align: center;
  font-weight: bold;
}

footer {
  text-align: right;
}
