@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  font-family: "IBM Plex Mono", monospace; 
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (max-width: 48rem) {
  body {
    margin: 0;
    padding: 0.5rem;
  }
}
@media print {
  body {
    margin-left: 0.25in;
  }
  footer {
    display: none;
  }
}

main {
  width: 100%;
  margin: 3rem 0;
}

header {
  text-align: right;
  margin-bottom: 2rem;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  text-align: right;
  margin-top: 4rem;
}

hr {
  border: solid black;
  border-width: 1px 0 0;
}