body {
  font-family: "Consolas", monospace; 
  font-size: 1rem;
}

div #main {
  max-width: 72ch;
  margin: 3rem auto;
}

header {
  text-align: right;
  margin-bottom: 2rem;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  text-align: right;
  margin-top: 4rem;
}
