---
layout: default
title: henry james house wilson
---

<main>

<h2>pages</h2>

<ul>
  {% for each_page in site.pages %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ each_page.url }}">{{ each_page.title }}</a>
    </li>
  {% endfor %}
</ul>

<h4>
  <a href="notebooks/">notebooks</a> |
  <a href="songs/">songs</a>
</h4>
  
<h2>posts</h2>

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%-m/%-d/%y" }} - {{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<a href="tags/">view posts by tag</a>


</main>
