---
layout: default
title: "H.J.H.W."
---

<main>
  
<h2>posts</h2>

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%-m/%-d/%y" }} - {{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<a href="tags">view posts by tag</a>

<h2>other</h2>

<ul>
  <li><a href="units">units &amp; measures</a></li>
  <li><a href="espresso-glossary">espresso glossary</a></li>
  <li><a href="lappy-start">laptop initialization</a></li>
</ul>

<ul>
  {% for each_page in site.pages %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ each_page.url }}">{{ each_page.title }}</a>
    </li>
  {% endfor %}
</ul>

</main>
